<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="processFile" class="com.asingh.wordcount.fileprocessing.ProcessTextFile"/>
   <bean id="processLine" class="com.asingh.wordcount.lineprocessing.ProcessLineFromTextFile"/>
   <bean id="store" class="com.asingh.wordcount.wordprocessing.StoreWordsSimpleImpl"/>
   <bean id="convertLine" class="com.asingh.wordcount.wordprocessing.ProcessWordsFromLine">
       <constructor-arg ref="wordProcessor"/>
   </bean>
   <bean id="wordProcessor" class="com.asingh.wordcount.wordprocessing.ProcessWordSimpleImpl"/>
   <bean id="ranking" class="com.asingh.wordcount.reporting.RankWords"></bean>
</beans>
